body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sidebar {
    background-color: #e5e5e5;
    width: 30%;
    padding: 20px;
    text-align: center;
    border-right: 2px solid #ccc;
}

.sidebar .photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #444;
}

.sidebar p {
    margin: 10px 0;
}

.sidebar .languages span {
    margin-right: 5px;
}

.content {
    width: 70%;
    padding: 20px;
}

.content h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #444;
}

.content section {
    margin-bottom: 20px;
}

.content h2 {
    font-size: 1.8em;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content ul li {
    margin-bottom: 10px;
}

.content ul li ul {
    margin-left: 20px;
    list-style-type: disc;
}

.content p {
    line-height: 1.6;
}
